<!--  show stuff about administrator apointments for the day
list view all appointment for the day (front desk) GET, POST, DELETE
- client
- doctor
- time
- actions approved / arrived, and delete
-->


<h1>Appointments</h1>




<a asp-controller="controllerhere" asp-action="actionhere">Create Appointment</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Appointment type?</th>
            <th>Date</th>
            <th>patient?</th>
            <th>doctor?</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var party in Model)
        {
            <tr>
                <td>@party.Description</td>
                <td>@party.PartyDate</td>
                <td>@party.Location</td>
                <td>
                    <a asp-controller="controllerhere" asp-action="actionhere" asp-route-id="@party.ParID">Manage</a>
                    <span class="px-2">|</span>
                    <a asp-controller="controllerhere" asp-action="actionhere" asp-route-id="@party.ParID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
